.weather {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: white;
}

.weather-widget {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    text-align: left;
    width: 450px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 7px 10px;
    margin-bottom: 20px;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 18px;
    flex-grow: 1;
}

.search-bar img {
    width: 25px;
    cursor: pointer;
    opacity: 1;
    transition: transform 0.2s ease-in-out;
}

.search-bar img:hover {
    transform: scale(1.1);
}

.location {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.weather-description {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 10px;
}

.temperature {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.weather-data {
    margin-top: 20px;
}

.weather-data p {
    margin: 5px 0;
    font-size: 16px;
}

.weather-data span {
    opacity: 0.8;
    font-size: 14px;
}

.weather-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.weather-stats .col {
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: 0.8;
}

.weather-stats .col img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    opacity: 0.8;
}


@media (max-width: 768px) {
    .weather-widget {
        width: 45%;
        padding: 20px; 
    }

    .temperature {
        font-size: 40px; 
    }

    .location {
        font-size: 18px; 
    }

    .weather-description {
        font-size: 16px;
    }

    .weather-data p {
        font-size: 14px;
    }

    .search-bar input {
        font-size: 16px;
    }

    .search-bar img {
        width: 20px; 
    }

    .weather-icon {
        width: 40px;
        height: 40px; 
    }

    .weather-data p {
        font-size: 14px; 
    }

    .weather-stats .col img {
        width: 20px;
        height: 20px; 
    }
}

@media (max-width: 480px) {
    .weather-widget {
        width: 90%;
        height: auto;
        padding: 20px;
    }
    .temperature {
        font-size: 35px;
    }

    .location {
        font-size: 16px;
    }

    .weather-description {
        font-size: 14px;
    }

    .search-bar input {
        font-size: 14px;
    }

    .weather-icon {
        width: 35px;
        height: 35px;
    }

    .search-bar img {
        width: 18px;
    }
}